@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-primary-950 duration-300 ease-in-out transition-[text-shadow] no-underline;
    }

    a:hover {
        @apply cursor-pointer text-shadow shadow-white;
    }

    ruby {
        @apply inline-flex flex-col-reverse;
    }

    rt {
        @apply inline leading-5;
    }

    em {
        @apply not-italic font-bold;
    }

    ul {
        @apply my-2 list-disc pl-8 text-left;
    }

    li {
        @apply my-2 lg:my-0;
    }
}

@layer components {
    .small-caps {
        font-variant-caps: small-caps;
    }

    .all-small-caps {
        font-variant-caps: all-small-caps;
    }

    .all-caps {
        text-transform: uppercase;
    }

    .disable-animation * {
        animation: none !important;
        transition: none !important;
    }

    .text-balance {
        /*noinspection CssInvalidPropertyValue*/
        text-wrap: balance;
    }
}

@media print {
    a {
        text-decoration: none;
    }
}
