@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-950: 66 28 82;
        --primary-700: 115 44 123;
        --gray-700: 156 138 165;
    }

    a {
        @apply text-primary-950;
        text-decoration: none;
        transition: text-shadow 250ms ease-in-out;
    }

    a:hover {
        @apply cursor-pointer;
        text-shadow: 0 0 2rem white;
    }

    ruby {
        @apply inline-flex flex-col-reverse;
    }

    rt {
        @apply inline leading-5;
    }

    em {
        @apply not-italic font-bold;
    }

    ul {
        @apply my-2 list-disc pl-8 text-left;
    }

    li {
        @apply my-2 lg:my-0;
    }
}

@layer components {
    .small-caps {
        font-variant-caps: small-caps;
    }

    .all-small-caps {
        font-variant-caps: all-small-caps;
    }

    .all-caps {
        text-transform: uppercase;
    }

    .disable-animation * {
        animation: none !important;
        transition: none !important;
    }

    .balance {
        /*noinspection CssInvalidPropertyValue*/
        text-wrap: balance;
    }
}

@media print {
    a {
        text-decoration: none;
    }
}
